<div style="margin-top: 5rem;" *ngIf="showInputAddMovie">
    <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Add movie to list</mat-label>
            <input (keypress)="search($event)" matInput aria-label="State" [matAutocomplete]="auto">
            <!-- <button (click)="onSubmit()">Submit</button> -->
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)='selectOption($event)'>
                <mat-option *ngFor="let movie of fetchedData" [value]="movie.name" [id]="movie.id">
                    <div style="display: flex;
                gap: 0.5rem;
                align-items: center;">
                        <img alt="" class="example-option-img"
                            src="https://www.themoviedb.org/t/p/w220_and_h330_face{{movie.img}}" height="60">
                        <span style="display: flex;
                gap: 0.5rem;">{{movie.name}}</span>
                    </div>
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </form>
    <div style="display: flex;
flex-wrap: wrap; justify-content: center;
    gap: 1rem;">
        <div class="card" *ngFor="let movie of itemsOnList ; let i = index" style="height: fit-content;">
            <img style="filter: brightness(80%);"
                src="https://www.themoviedb.org/t/p/w220_and_h330_face{{movie.poster_path}}" alt="">
            <span style="display: flex;
                gap: 0.5rem; position: absolute; bottom: 50px;
    left: 1rem; color: white;">{{movie.title}}</span>
            <button mat-raised-button color="warn" (click)="remove_from_list(movie.title,movie.id)">
                <i class="fa fa-trash-o" aria-hidden="true"></i> Remove from list</button>
        </div>
    </div>
</div>