<div class="container-fluid p-0" id="user-interaction">
    <div class="background-img">
        <img class="hero-img" src="https://www.themoviedb.org/t/p/w1280{{movieData?.backdrop_path}}"
            alt="{{movieData?.original_title}}">
    </div>
    <div class="background-col">
        <div class="holder-elements">
            <div class="col">
                <h1>{{movieData?.original_title || movieData?.name}}</h1>
                <div class="movie-data">
                    <span>
                        <i aria-hidden="true" class="fa fa-star"></i>
                        {{movieData?.vote_average}} | {{movieData?.vote_count}}
                    </span>
                    <span>{{runtimeHours}}h {{runtimeMin}}m</span>
                    <span>
                        {{movieData?.release_date ? (movieData?.release_date | date: 'yyyy') :
                        (movieData?.first_air_date |
                        date: 'yyyy')}}
                    </span>
                </div>
                <div class="movie-genres">
                    <span *ngFor="let genre of movieData?.genres">
                        {{genre?.name}}
                    </span>
                </div>
                <div style="height:50px;" *ngIf="userExist">
                    <app-holder [IdOfItem]="getIdFromUrl" [Name]="title"
                        [TYPE_OF_FETCHED_DATA]="TYPE_OF_FETCHED_DATA"></app-holder>
                </div>
                <div *ngIf="!userExist" class="fst-italic">You need to login to see this!</div>
                <div class="overview">
                    <h3>Overview</h3>
                    {{movieData?.overview}}
                </div>
                <div>
                    <div class="trailer-btn">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#exampleModal" style="    background: none;
                            border: 1px solid;
                            margin-right: 2rem;
                            position: relative;">
                            Watch trailer
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content" style="width: fit-content;">
                                    <iframe width="420" height="315" [src]="sanitizedBlobUrl">
                                    </iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col sect-two">
                <h2>Similar</h2>
                <div class="holder">
                    <div class="list-group list-group-horizontal list-group">
                        <div class="card" *ngFor="let item of SimilarObject">
                            <img *ngIf="item.backdrop_path != undefined"
                                src="https://www.themoviedb.org/t/p/w780{{item?.backdrop_path}}"
                                (click)="display(TYPE_OF_FETCHED_DATA, item.id)" style="width: 300px; z-index: 2;">
                            <div class="card-img-overlay">
                                <div class="text-white card-title" style="position: absolute;
                                bottom: 0;
                                z-index: 3;
                            ">{{item.title}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <h2>Actors</h2>
                <div class="holder">
                    <div class="list-group">
                        <div *ngFor="let crew of CrewAndCast" class="crew-card">
                            <img *ngIf="crew.profile_path != undefined"
                                src="https://www.themoviedb.org/t/p/w92{{crew.profile_path}}" alt=""
                                style="height: 90px; border-radius: 50%;">
                            <p class="person-name">{{crew.name}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-alert></app-alert>