.row {
    margin-top: 2rem;
}

.wraper {
    background: linear-gradient(145deg, rgb(240 240 240), rgb(202 202 202));
    border-radius: 8px;
    box-shadow: 5px 5px 10px #bcbcbc, -5px -5px 10px #fff;
    margin-top: 3rem;
    padding: 35px 20px;
    margin: 0;
}